<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link css-->
    <link rel="stylesheet" href="/Projeto/public/styles/Global.css">
    <link rel="stylesheet" href="/Projeto/public/styles/Home.css">
    <title>Bem vindo - Rocket.Q</title>
    <!--link de fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div id=" home " class="content ">

        <header>
            <img src="/Projeto/Src/public/images/logo.svg " alt="Rocket.Q Logo ">
        </header>
        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>

        </div>
        <main>
            <div class="container">
                <section>
                    <h2>Entre como pariticipante</h2>

                    <form action="">
                        <label class="sr-only" for="room-id">Codigo da Sala:</label>
                        <input type="number" id="room-id " placeholder="codigo da sala">
                        <button>
                            <img src="/Projeto/Assets/enter-room.svg" alt="Entrar na sala">
                            Entrar na sala  
                        </button>
                    </form><br><br>
                </section>
                <div class=" separetor ">

                    <div></div>
                    <div>ou</div>
                    <div></div>

                </div><br>
                <section>

                    <h2>Crie sua própia, sala de <br> forma fácil</h2>
                    <a href="create-room.html " class="button outlined">
                        <img src="./Assets/users.svg " alt="Criar Sala "> Criar Sala
                    </a>

                </section>
            </div>



        </main>
    </div>
</body>

</html>





<div>
    <span>
        <form action=" ">

    </span>
    </form>

</div>