<html>

<head>
    <title>
        Senha Incorreta...
    </title>
    <script>
        confirm("senha incorreta, tente novamente!!!")
        window.location.replace("/room/<%= roomId %>")
    </script>
</head>

</html>